<% provide(:title, 'Contact') %>
<div class="contactDiv">


<div class ="rightSide">You can contact me using the form to your left, 
	alternatively you can use one of the links below:</br>

 </br></br>   +44 (0) 7540 429083</br>
  </br>  hello@joe-macdonald.co.uk</br>
  </br>  joseph.macdonald17</br>
   </br> twitter.com/josephmacdonald</br>

</div>

<div class="theMap">

<div style="width: 400px"><iframe width="400" height="400" src="http://regiohelden.de/google-maps/map_en.php?width=400&amp;height=400&amp;hl=en&amp;q=Sofia%2CDateks+(Dateks)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.regiohelden.de/google-maps/">Google Maps Generator</a> von <a href="http://www.regiohelden.de/">RegioHelden</a></iframe><br /><span style="font-size: 9px;"><a href="http://www.regiohelden.de/google-maps/" style="font-size: 9px;">Google Maps Generator</a> by <a href="http://www.regiohelden.de/" style="font-size: 9px;">RegioHelden</a></span></div>
</div>
</div>


