<% provide(:title, "Help")%>


    <title><%= yield(:title)%> </title>

  	<div class= "outerDiv">
<div class= "helpDiv">Searching for help </br></br></br>
No matter what you're looking for, start with a simple search like where's the closest Ruby cours?. You can always add a few descriptive words if necessary.</div>


<div class= "helpDiv">Find your answers </br></br></br>
This page lists some locations where you can ask questions or make comments.</div>
<div class= "helpDiv">Manage answers </br></br></br>
The Questions & Answers (Q&A) feature is a great tool to build a community around your product. It allows customers to post public questions and receive support from agents or other customers.</div>
</div>