<% if @meetings.errors.any? %>
  <div id="error_explanation" style="padding-top:50px;">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@meetings.errors.count, "error") %>.
    </div>
    <ul>
    <% @meetings.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>